[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=host.kaleidoscope.FitnessApp
Exec=/usr/bin/host.kaleidoscope.FitnessApp
Name=Fitness
Name[ru]=Фитнес

[X-Application]
Permissions=Sensors;Internet;RemovableMedia;UserDirs
OrganizationName=host.kaleidoscope
ApplicationName=FitnessApp
ExecDBus=/usr/bin/host.kaleidoscope.FitnessApp
