[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.FitnessApp
Exec=/usr/bin/ru.auroraos.FitnessApp
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=Sensors;Internet;RemovableMedia;UserDirs
OrganizationName=ru.auroraos
ApplicationName=FitnessApp
ExecDBus=/usr/bin/ru.auroraos.FitnessApp
